@model FuelTrack.Models.Loan

@{
    ViewBag.Title = "新建贷款";
}

<h2>新建</h2>


@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>贷款</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            @Html.LabelFor(model => model.ClientAccountId, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.ClientAccountId, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
                @Html.ValidationMessageFor(model => model.ClientAccountId, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.StartAmount, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.StartAmount, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.StartAmount, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.StartDate, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.StartDate, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.StartDate, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.FreeDays, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.FreeDays, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.FreeDays, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.InterestRate, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.InterestRate, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.InterestRate, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Notes, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Notes, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Notes, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                @*<input type="submit" value="新建" class="btn btn-default" id="openDialog" />*@
                <button type="button" class="btn" data-toggle="modal" data-target="#promote" id="openDialog">新建</button>
            </div>
        </div>
    </div>

    <div class="modal fade" role="dialog" id="promote">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dissmiss="modal">&times;</button>
                    <h4 class="modal-title">检查输入信息</h4>
                </div>
                <div class="modal-body">
                    <div class="container">
                        <div class="row">
                            <div class="col-sm-5">客户编号</div>
                            <div class="col-sm-1 text-info" id="cfmClientAccountId"></div>
                        </div>
                        <div class="row">
                            <div class="col-sm-5">贷款金额（元） </div>
                            <div class="col-sm-1 text-info" id="cfmStartAmount"></div>
                        </div>
                        <div class="row">
                            <div class="col-sm-5">起始日期 </div>
                            <div class="col-sm-1 text-info" id="cfmStartDate"></div>
                        </div>
                        <div class="row">
                            <div class="col-sm-5">不计息天数 </div>
                            <div class="col-sm-1 text-info" id="cfmFreeDays"></div>
                        </div>
                        <div class="row">
                            <div class="col-sm-5">年利率（%）</div>
                            <div class="col-sm-1 text-info" id="cfmInterestRate"></div>
                        </div>
                        <div class="row">
                            <div class="col-sm-5">备注 </div>
                            <div class="col-sm-1 text-info" id="cfmNotes"></div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <input type="submit" value="确定" class="btn btn-default" />
                    <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
                </div>
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("返回列表", "Index")
</div>

@section Scripts {

    @Styles.Render("~/Content/jqueryui")
    @Scripts.Render("~/bundles/jqueryval")   
    @Scripts.Render("~/bundles/jqueryui")
}

<script type="text/javascript">
    $(document).ready(function () {
        $("#StartDate").datepicker().datepicker("setDate", new Date());
        $("#openDialog").click(function () {
            $('#cfmClientAccountId').text(document.getElementById('ClientAccountId').value);
            $('#cfmStartAmount').text(document.getElementById('StartAmount').value);
            $('#cfmStartDate').text(document.getElementById('StartDate').value);
            $('#cfmFreeDays').text(document.getElementById('FreeDays').value);
            $('#cfmInterestRate').text(document.getElementById('InterestRate').value);
            $('#cfmNotes').text(document.getElementById('Notes').value);
            $('#promote').modal('show');
        });
    })


    //alert(document.getElementById('ClientAccountId').value);
</script>
